<a href="https://colab.research.google.com/github/KwasiArhin/Thinkful-assignments-/blob/master/Text_Preprocessing_nlp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Apply the data preprocessing techniques you learned here to Cornell Movie--Dialogs Corpus data. You'll be using this dataset when developing a chatbot in a later checkpoint.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import nltk
import spacy
import re

import warnings
warnings.filterwarnings(action="ignore")

!python -m spacy download en

Requirement already satisfied: en_core_web_sm==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0 in /usr/local/lib/python3.6/dist-packages (2.1.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')
✔ Linking successful
/usr/local/lib/python3.6/dist-packages/en_core_web_sm -->
/usr/local/lib/python3.6/dist-packages/spacy/data/en
You can now load the model via spacy.load('en')

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'cornell_movie_dialogs'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

dialogs_df = pd.read_sql_query('select * from dialogs',con=engine)

# no need for an open connection, as we're only doing a single query
engine.dispose()


dialogs_df.head(10)

   index                                            dialogs
0      0  Can we make this quick?  Roxanne Korrine and A...
1      1  Well, I thought we'd start with pronunciation,...
2      2  Not the hacking and gagging and spitting part....
3      3  Okay... then how 'bout we try out some French ...
4      4  You're asking me out.  That's so cute. What's ...
5      5                                         Forget it.
6      6  No, no, it's my fault -- we didn't have a prop...
7      7                                           Cameron.
8      8  The thing is, Cameron -- I'm at the mercy of a...
9      9     Seems like she could get a date easy enough...

In [0]:
nlp = spacy.load('en', disable=['parser', 'ner'])

# below is necessary to avoid memory error of SpaCy
nlp.max_length = 20000000

# all the processing work is done below, so it may take a while
dialogs_doc = nlp(" ".join(dialogs_df.dialogs))

In [4]:
# let's explore the objects we've built.
print("The dialogs_doc object is a {} object.".format(type(dialogs_doc)))
print("It is {} tokens long".format(len(dialogs_doc)))
print("The first three tokens are '{}'".format(dialogs_doc[:3]))
print("The type of each token is {}".format(type(dialogs_doc[0])))

The dialogs_doc object is a <class 'spacy.tokens.doc.Doc'> object.
It is 4272659 tokens long
The first three tokens are 'Can we make'
The type of each token is <class 'spacy.tokens.token.Token'>

In [0]:
# removing the stopwords
dialogs_without_stopwords = [token for token in dialogs_doc if not token.is_stop]

In [0]:
# lemmatization
lemmas = [token.lemma_ for token in dialogs_without_stopwords]

## 2. Apply the data preprocessing techniques you learned here to Twitter US Airline Sentiment data. You'll be using this dataset when generating sentences in a later checkpoint.

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import nltk
import spacy
import re

import warnings
warnings.filterwarnings(action="ignore")

!python -m spacy download en

Requirement already satisfied: en_core_web_sm==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0 in /usr/local/lib/python3.6/dist-packages (2.1.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')
✔ Linking successful
/usr/local/lib/python3.6/dist-packages/en_core_web_sm -->
/usr/local/lib/python3.6/dist-packages/spacy/data/en
You can now load the model via spacy.load('en')

In [8]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'twitter_sentiment'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

tweets_df = pd.read_sql_query('select * from twitter',con=engine)

# no need for an open connection, as we're only doing a single query
engine.dispose()


tweets_df.head(10)

   index            tweet_id  ...    tweet_location               user_timezone
0      0  570306133677760513  ...              None  Eastern Time (US & Canada)
1      1  570301130888122368  ...              None  Pacific Time (US & Canada)
2      2  570301083672813571  ...         Lets Play  Central Time (US & Canada)
3      3  570301031407624196  ...              None  Pacific Time (US & Canada)
4      4  570300817074462722  ...              None  Pacific Time (US & Canada)
5      5  570300767074181121  ...              None  Pacific Time (US & Canada)
6      6  570300616901320704  ...  San Francisco CA  Pacific Time (US & Canada)
7      7  570300248553349120  ...       Los Angeles  Pacific Time (US & Canada)
8      8  570299953286942721  ...         San Diego  Pacific Time (US & Canada)
9      9  570295459631263746  ...       Los Angeles  Eastern Time (US & Canada)

[10 rows x 16 columns]

In [0]:
nlp = spacy.load('en', disable=['parser', 'ner'])

# below is necessary to avoid memory error of SpaCy
nlp.max_length = 20000000

# all the processing work is done below, so it may take a while
twitter_doc = nlp(" ".join(tweets_df.text))

In [10]:
# let's explore the objects we've built.
print("The twitter_doc object is a {} object.".format(type(twitter_doc)))
print("It is {} tokens long".format(len(twitter_doc)))
print("The first three tokens are '{}'".format(twitter_doc[:3]))
print("The type of each token is {}".format(type(twitter_doc[0])))

The twitter_doc object is a <class 'spacy.tokens.doc.Doc'> object.
It is 307258 tokens long
The first three tokens are '@VirginAmerica What @dhepburn'
The type of each token is <class 'spacy.tokens.token.Token'>

In [0]:
# removing the stopwords
tweets_without_stopwords = [token for token in twitter_doc if not token.is_stop]

In [0]:
# lemmatization
lemmas = [token.lemma_ for token in tweets_without_stopwords]